body {
  background: url('/img/Background.svg');
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
main {
  max-width: 946px;
  display: inline-block;
}
header,
footer,
section {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}
header div[role="banner"],
header nav ul.pure-menu-list,
footer {
  padding: 0 10px;
}
header {
  margin-top: 70px;
}
a {
	color: #459140;
}
a:href {
	color: #ffa9ca !important;
}
header div[role="banner"] {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
}
header div[role="banner"] h1,
header div[role="banner"] h2 {
  background: #304150;
  display: inline-block;
}
header div[role="banner"] h1 {
  font-weight: bold;
}
header div[role="banner"] h2 {
  font-weight: lighter;
}
header nav {
  margin-top: 45px;
}
header nav ul.pure-menu-list li.pure-menu-item {
  background: #232a32;
  border: 1px solid #212629;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: none;
}
header nav ul.pure-menu-list li.pure-menu-item a.pure-menu-link {
  color: #70757b;
  padding: 12px 14px;
}
header nav ul.pure-menu-list li.pure-menu-item a.pure-menu-link:focus {
  background: none;
}
header nav ul.pure-menu-list li.pure-menu-item:hover a.pure-menu-link {
  background: #20272f;
}
header nav ul.pure-menu-list li.pure-menu-selected {
  background: #427cb7;
  border: 1px solid #5dabd2;
  border-bottom: none;
}
header nav ul.pure-menu-list li.pure-menu-selected a.pure-menu-link {
  background: none;
  color: #d5dbe1;
}
header nav ul.pure-menu-list li.pure-menu-selected:hover a.pure-menu-link {
  background: #427cb7;
}
section {
  margin: 0 auto;
  padding: 25px 10px;
  border-top: 1px solid #77b7ff;
  border-bottom: 1px solid #77b7ff;
}
section div[role="content"] div.not-found {
  background: #ffffff;
  text-align: center;
  padding: 100px 0;
}
section div[role="content"] div.not-found div.wrapper {
  display: inline-block;
  background: #2d4f6a;
  padding: 10px;
}
section div[role="content"] div.not-found div.wrapper h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  width: 350px;
}
section div[role="content"] div.not-found div.wrapper img {
  width: 60px;
  background: #ffffff;
  padding: 10px;
}
section div[role="content"] div.post {
  background: #efefef;
  margin-top: 20px;
}
section div[role="content"] div.post div.header {
  background: #2d4f6a;
  color: #ffffff;
}
section div[role="content"] div.post div.header h1 {
  display: inline-block;
  padding: 10px 0 10px 10px;
  font-weight: normal;
  font-size: 23px;
}
section div[role="content"] div.post div.header .pure-button {
  line-height: 22px;
  margin: 0;
  vertical-align: baseline;
  font-size: 21px;
  float: right;
}
section div[role="content"] div.post div.post-info {
  background: #e1e1e1;
  padding: 5px 10px;
  color: #9b9b9b;
}
section div[role="content"] div.post div.content {
	padding: 10px;
	line-height: 1.4

}
section div[role="content"] div.post div.content img {
  display: block;
  margin: 15px auto;
}
section div[role="content"] div.post:first-child {
  margin: 0;
}
section div[role="content"] div.post p {

}
section div[role="content"] div.post ul {
	display: block;
	padding-left: 20px;
}

section div[role="content"] div.post li {
	display: list-item;
}

section div[role="content"] div.form {
  background: #ffffff;
}
section div[role="content"] div.form h1 {
  margin: 0 auto 40px auto;
  text-align: center;
  padding: 35px 0 30px 0;
  border-bottom: 3px solid #0c1a28;
  width: 60%;
  font-weight: lighter;
  font-size: 4rem;
}
section div[role="content"] div.form form.pure-form {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
/*section div[role="content"] div.form form.pure-form div.pure-control-group {
  margin-bottom: 10px;
}*/
section div[role="content"] div.form form.pure-form div.pure-control-group label,
section div[role="content"] div.form form.pure-form div.pure-control-group input,
section div[role="content"] div.form form.pure-form div.pure-control-group textarea,
section div[role="content"] div.form form.pure-form div.pure-control-group span.upload-container {
  background: #e7eaed;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  width: 70%;
  resize: vertical;
  margin: 0 0 0 -4px;
}
section div[role="content"] div.form form.pure-form div.pure-control-group label,
section div[role="content"] div.form form.pure-form div.pure-control-group input[type=text],
section div[role="content"] div.form form.pure-form div.pure-control-group input[type=file] {
  line-height: 36px;
}
section div[role="content"] div.form form.pure-form div.pure-control-group input[type=text] {
  padding-left: 8px;
}
section div[role="content"] div.form form.pure-form div.pure-control-group textarea {
  height: 140px;
  padding: 10px 8px;
}
section div[role="content"] div.form form.pure-form div.pure-control-group span.upload-container {
  position: relative;
  display: inline-block;
}
section div[role="content"] div.form form.pure-form div.pure-control-group span.upload-container span.pure-button {
  height: 100%;
  vertical-align: baseline;
  line-height: 20px;
}
section div[role="content"] div.form form.pure-form div.pure-control-group span.upload-container #remove {
  margin-left: -4px;
}
section div[role="content"] div.form form.pure-form div.pure-control-group span.upload-container span.upload-filename {
  display: inline-block;
  margin-left: 5px;
}

input[type=submit],
section div[role="content"] div.form form.pure-form div.pure-control-group span.upload-container input[type=file] {
  position: absolute;
  top: 0;
  visibility: hidden;
}
section div[role="content"] div.form form.pure-form div.pure-control-group label {
  width: 20%;
  vertical-align: top;
  margin-left: 0;
}
section div[role="content"] div.form form.pure-form div.pure-control-group label span.custom-bg {
  font-weight: lighter;
  padding: 7px 15px;
  background: #3471ad;
  color: #ffffff;
}
section div[role="content"] div.form form.pure-form div.pure-control-group.error label,
section div[role="content"] div.form form.pure-form div.pure-control-group.error input,
section div[role="content"] div.form form.pure-form div.pure-control-group.error textarea,
section div[role="content"] div.form form.pure-form div.pure-control-group.error span.upload-container {
  background: #edc3c4;
}
section div[role="content"] div.form form.pure-form div.pure-controls {
  margin: 0 0 0 29.96%;
}
.button-error {
  border-radius: 0;
  color: #ffffff;
  background: #d15757;
}
.button-error:hover {
  background: #d52d2d;
}
.button-success {
  border-radius: 0;
  background: #37b037;
  color: #ffffff;
}
.button-success:hover {
  background: #1edf1e;
}
footer {
  color: #ffffff;
  padding: 20px 10px;
}
footer div[role="content"] {
  padding: 15px;
  border-left: 6px solid #77b7ff;
}
footer div[role="content"] p {
  line-height: 25px;
}
::-webkit-resizer {
  width: 0;
  height: 0;
  border-bottom: 18px solid #3471ad;
  border-left: 17px solid transparent;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 40px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 1.2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 70%;
}

@media screen and (max-width: 1024px){
  .popup{
    width: 85%;
  }
}
