//MIXINS
.radial-gradient (@startColor, @middleColor, @endColor) {
  background: @startColor;
  background: -moz-radial-gradient(center, ellipse cover, @startColor 0%, @middleColor 63%, @endColor 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, @startColor), color-stop(63%, @middleColor), color-stop(100%, @endColor));
  background: -webkit-radial-gradient(center, ellipse cover, @startColor 0%, @middleColor 63%, @endColor 100%);
  background: -o-radial-gradient(center, ellipse cover, @startColor 0%, @middleColor 63%, @endColor 100%);
  background: -ms-radial-gradient(center, ellipse cover, @startColor 0%, @middleColor 63%, @endColor 100%);
  background: radial-gradient(ellipse at center, @startColor 0%, @middleColor 63%, @endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr='@endColor', GradientType=1 );
}
//MIXINS
body {
  background: url('../img/bg.png');
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: @font;
}
main {
  max-width: 946px;
  display: inline-block;
}
header,
footer,
section {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}
header div[role="banner"],
header nav ul.pure-menu-list,
footer {
  padding: 0 10px;
}

@font: 'Open Sans', sans-serif;
@h-f-tcolor: #ffffff;
@h-bcolor: #304150;
@bcolor-horizontal: #77b7ff;
@mbutton-tcolor-active: #d5dbe1;
@mbutton-bcolor-active: #5dabd2;
@mbutton-bgcolor-active: #427cb7;
@mbutton-tcolor-inactive: #70757b;
@mbutton-bcolor-inactive: #212629;
@mbutton-bgcolor-inactive: none;
@mbutton-bgcolor-hover: #20272f;
header {
  margin-top: 70px;
  div[role="banner"] {
    color: @h-f-tcolor;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: @font;
    h1,h2 {
      background: @h-bcolor;
      display: inline-block;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: lighter;
    }
  }
  nav {
    margin-top: 45px;
    ul.pure-menu-list {
      li.pure-menu-item {
        background: @mbutton-bgcolor-inactive;
        border: 1px solid @mbutton-bcolor-inactive;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: none;
        a.pure-menu-link {
          color: @mbutton-tcolor-inactive;
          padding: 12px 14px;
          &:focus {
            background: none;
          }
        }
        &:hover {
          a.pure-menu-link {
            background: @mbutton-bgcolor-hover;
          }
        }
      }
      li.pure-menu-selected {
        background: @mbutton-bgcolor-active;
        border: 1px solid @mbutton-bcolor-active;
        border-bottom: none;
        a.pure-menu-link {
          background: none;
          color: @mbutton-tcolor-active;
        }
        &:hover a.pure-menu-link {
          background: @mbutton-bgcolor-active;
        }
      }
    }
  }
}
@content-h1-color: #1c2e42;
@content-h1-border-color: #0c1a28;
@form-control-bg-color: #e7eaed;
@form-control-label-color: #ffffff;
@form-control-label-bg-color: #3471ad;
@form-control-logo-upload-bg-color: #37b037;
@form-control-logo-upload-bg-color-hover: #1edf1e;
@form-submit-bg-color: #d15757;
@form-submit-bg-color-hover: #d52d2d;
@form-max-width: 80%;
@form-control-width: 65%;
@form-control-label-width: 29.96%;
section {
  margin: 0 auto;
  padding: 25px 10px;
  border-top: 1px solid @bcolor-horizontal;
  border-bottom: 1px solid @bcolor-horizontal;
  div[role="content"] {
    background: #ffffff;
    h1 {
      margin: 0 auto 40px auto;
      text-align: center;
      padding: 35px 0 30px 0;
      border-bottom: 3px solid @content-h1-border-color;
      width: 60%;
      font-weight: lighter;
      font-size: 4rem;
    }
    form.pure-form {
      margin: 0 auto;
      max-width: @form-max-width;
      div.pure-control-group {
        margin-bottom: 18px;
        label,
        input,
        textarea,
        span.upload-container {
          background: @form-control-bg-color;
          padding: 0;
          margin: 0;
          border: none;
          border-radius: 0;
          outline: none;
          width: @form-control-width;
          resize: vertical;
          margin-left: -4px;
        }
        label,
        input[type=text],
        input[type=file] {
          line-height: 36px;
        }
        input[type=text] {
          padding-left: 8px;
        }
        textarea {
          height: 150px;
          padding: 10px 8px;
        }
        span.upload-container {
          position: relative;
          display: inline-block;
          span.pure-button {
            height: 100%;
            vertical-align: baseline;
            line-height: 20px;
            border-radius: 0;
            background: @form-control-logo-upload-bg-color;
            color: @form-control-label-color;
            &:hover {
              background: @form-control-logo-upload-bg-color-hover;
            }
          }
          span.upload-filename {
            display: inline-block;
          }
          input[type=file]{
            position: absolute;
            top: 0;
            visibility: hidden;
          }
        }
        label {
          width: 29.96%;
          vertical-align: top;
          margin-left: 0;
          span.custom-bg {
            font-weight: lighter;
            padding: 7px 15px;
            background: @form-control-label-bg-color;
            color: @form-control-label-color;
          }
        }
      }
      div.pure-controls {
        margin: 0 0 0 @form-control-label-width;
        input.pure-button {
          border-radius: 0;
          color: @form-control-label-color;
          background: @form-submit-bg-color;
		  padding: 8px 16px !important;
          &:hover {
            background: @form-submit-bg-color-hover;
          }
        }
      }
    }
  }
}
footer {
  color: @h-f-tcolor;
  padding: 20px 10px;
  div[role="content"] {
    padding: 15px;
    border-left: 6px solid @bcolor-horizontal;
    p {
      line-height: 25px;
    }
  }
}
::-webkit-resizer {
  width: 0;
  height: 0;
  border-bottom: 18px solid #3471ad;
  border-left: 17px solid transparent;
}