* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #e8d4a8;
	color: #000000;
	font-family: 'Tahoma';
	font-size: 15px;
}

a {
	color: #d00e0e;
	text-decoration: none;
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

a.ss-clear:hover {
	text-decoration: none;
}

input[type="password"],
input[type="text"] {
	color: #3a3a3a;
	font-size: 13px;
	background-color: #dcce8e;
	border: 1px solid #00650a;
	padding: 3px;
	height: 19px;
	border-radius: 5px;
	width: 600px;
}

input[type="password"] {
	width: 300px;
}

textarea {
	color: #3a3a3a;
	font-size: 13px;
	background-color: #dcce8e;
	border: 1px solid #00650a;
	padding: 3px;
	overflow: hidden;
	border-radius: 5px;
	width: 600px;
	height: 200px;
}


input[type="submit"] {
	border: none;
	font-size: 13px;
	color: #ffffff;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: #ca1111;
	padding: 3px;
	cursor: pointer;
}

table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0px;
}

table > * > tr > * {
	padding: 0px;
	margin: 0px;
	text-align: left;
	vertical-align: top;
}

.h-menuet {
	font-size: 18px;
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	margin: 10px 0px;
}

.h-container {
	padding: 10px 20px;
}

.h-content {
	margin: 10px 0px;
}


table.h-getable > * > tr > * {
	padding: 5px;
	border: 1px solid #5c5c5c;
}


table.h-getable > * > tr:nth-of-type(even) > * {
	background-color: #f1d098;
}


table.h-getable > * > tr:nth-of-type(odd) > * {
	background-color: #e4c897;
}



table.h-getable > * > tr.tr-wiped > * {
	opacity: 0.6;
	background-color: #d7d4cf;
	color: #464646;
}


h3 {
	margin: 20px 0px 10px 0px;
}

table.h-forme > * > tr > * {
	padding: 5px 10px 5px 0px;
}

.h-messagez > * {
	padding: 4px;
	border: 1px solid #3a3a3a;
	background-color: #d3d3d3;
	color: #3a3a3a;
}


.h-messagez > .level-1 {
	padding: 4px;
	border: 1px solid #284391;
	background-color: #a9bfff;
	color: #284391;
}


.h-messagez > .level-2 {
	padding: 4px;
	border: 1px solid #7b0f0f;
	background-color: #e89a9a;
	color: #7b0f0f;
}

.h-zpage {
	margin: 10px 0px 20px 0px;
	padding: 7px;
	background-color: #e2cfa2;
	border: 1px solid #b39961;
}


.h-epage {
	margin: 10px 0px 20px 0px;
	padding: 7px;
	background-color: #e2ca95;
	border: 1px solid #b39961;
}

.h-epage.hc-inactive {
	opacity: 0.75;
	background-color: #d7d4cf;
	color: #464646;
}


.h-epage.hc-inactive .h-getable > * > tr > * {
	background-color: #cbc8c3;
	color: #464646;
}

.h-team-logo {
	max-width: 200px;
	max-height: 200px;
}

.h-getable > * > .tr-inaktiven > td {
	font-style: italic;
	color: #707070;
}

a.h-a-wiped {
	text-decoration: line-through;
}