* {
	margin: 0px;
	padding: 0px;
}

html {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Tahoma';
	font-size: 15px;
}

a {
	color: #98660f;
	text-decoration: none;
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

.z-korper {
	text-align: left;
	width: 1024px;
}

h1 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #bbbbbb;
}


.z-table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	background-color: #fafaff;
	border-top: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}

.z-table.z-kontest > * > tr > * {
	width: 33%;
}

.z-table.z-rating > * > tr > * {
	text-align: center;
	vertical-align: middle;
}

/*.z-table.z-rating > * > tr:not(.h-spanned) > *:first-child {
	text-align: left;
}*/


.z-table > * > tr > * {
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	padding: 5px 10px 5px 10px;
}


/*.z-table > * > tr:not(.h-spanned) > *:first-child {
	border-left: none;
	padding-left: 0px;
}*/


/*.z-table > * > tr:last-child > * {
	border-bottom: none;
}*/

.z-planken {
	margin: 20px 0px;
}

.z-table.z-rating > * > tr > .z-tuzik-bobik {
	vertical-align: top;
}

.z-tuzik {
	font-size: 8px;
	font-weight: normal;
}

.z-logo {
	max-width: 80px;
}

.z-erfolgreich {
	font-weight: bold;
	color: #0aa20a;
}

.z-fehler {
	color: #808080;
}

.z-placung {
	font-size: 16px;
	font-weight: bold;
}

.z-mannschaft {
	font-weight: bold;
	color: #6b007e;
}

tr.z-selber > * {
	background-color: #ceecff;
}

.z-formen {
	padding: 15px;
	border-radius: 15px;
	background-color: #fafaff;
	display: inline-block;
	font-size: 20px;
	border: 1px solid #dddddd;
	margin: 20px 0px;
}

.z-formen-table > * > tr > * {
	padding: 0px 10px 10px 0px;
}


.z-formen input[type="text"],
.z-formen input[type="password"]{
	border: 1px solid #bbbbbb;
	font-size: 20px;
	font-weight: bold;
	padding: 3px;
	width: 300px;
}


.z-formen input[type="submit"] {
	font-size: 20px;
	
	background-color: #0f83cd;
	color: #d4eeff;
	border: none;
	padding: 5px;
}


.z-formen input[type="submit"]:hover {
	background-color: #2d99de;
}

.z-messagen > * { 
	padding: 15px;
	border-radius: 15px;
	background-color: #fafaff;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
}


.z-messagen > *.level-2 { 
	background-color: #f9dede;
	border: 1px solid #d36767;
	color: #a31f1f;
}


.z-messagen > *.level-1 { 
	background-color: #deedf9;
	border: 1px solid #679ad3;
	color: #1f66a3;
}


.z-beton {
	border: 1px solid #bbbbbb;
	background-color: #f0f0ff;
	padding: 10px;
	margin: 15px 0px;
}

h4 {
	margin-bottom: 10px;
}

.z-task-descr {
	margin-top: 20px;
}

.z-task-descr p,
.z-task-descr pre {
	margin-top: 10px;
}

.z-task-descr p:first-child,
.z-task-descr pre:first-child {
	margin-top: 0px;
}

.z-stellen {
	margin: 20px 0px;
}

.z-poste .h-daten {
	font-size: 12px;
	color: #123ba4;
}


.z-poste .h-head {
	font-weight: bold;
	margin: 5px 0px;
}