::-webkit-scrollbar {
    display: none;
}
* {
    resize: none;
}
.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}
.task, .comment {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid #357ebd;
    transition: 0.3s;
    margin: 5px;
    padding: 5px 5px;
    text-align: center;
}

.comment {
  text-align: left;
}
.author {
    background-color: #14ADE0;
    text-color: white;

}
/* On mouse-over, add a deeper shadow */
.task:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
