@font-face {
  font-family: 'HACKED';
  src: url(font/HACKED.ttf)
}

#content {
  visibility: hidden;
}
#map:active {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#tmp, #map, body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

#tmp {
  width: 3705px;
  height: 2547px;
  background-image: url(../img/map.svg);
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  z-index: 1;
}

.easy, .medium, .hard, .madness  {
  border-radius: 33px;
  box-shadow:0 0 15px #1A237E;
  cursor: pointer;
  position: absolute;
  width: 65px;
  height: 65px;
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

.easy {
  background-image: url(../img/easy.png);
}
.medium {
  background-image: url(../img/medium.png);
}
.hard {
  background-image: url(../img/hard.png);
}
.madness {
  background-image: url(../img/madness.png);
}

.madness:hover{
  box-shadow:0 0 20px #FF5722;
}

.hard:hover{
  box-shadow:0 0 20px #FF5722;
}

.medium:hover{
  box-shadow:0 0 20px #FF5722;
}

.easy:hover{
  box-shadow:0 0 20px #FF5722;
}

#login, #task {
  opacity: 0.0;
  visibility: hidden;
  z-index: 10;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  width: 400px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#task{
  width:40%;
}

#task-title {
  font-family: "HACKED";
  opacity: 0.9;
  background-color: #E53935;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  line-height: normal;
  height: auto;
  text-align: center;
  padding: 10px;
}
#task-desc {
  font-family: monospace;
  color: white;
  opacity: 0.9;
  text-align: left;
  padding: 10px;
  background-color: #212121;
  font-size: 20px;
  line-height: normal;
}
#task-flag {
  font-size: 24px;
  line-height: normal;
  padding: 10px;
  opacity: 0.9;
}

#btn{
  font-family: monospace;
  border: 0;
  margin-left: 40px;
  background: #E53935;
  color: white;
  height: 25px;
  font-weight: bold;
}

#btn:hover{
  background: #B71C1C;
}

#keyphrase{
  outline: 0;
  padding-left: 10px;
}

#header {
  z-index: 10;
  position: fixed;
  width: 100%;
  border: 1px solid #E53935;
}
#header > * {
  font-family: monospace;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  min-height: 40px;
}
#header-table {
  font-family: monospace;
  background: #212121;
  float: left;
  min-width: 300px;
  opacity: 0.9;
}

/* Change the background color of the header-table block  when the dropdown content is shown */
#header-table:hover{
    background-color: #E53935;
}

#header-title {
  font-family: "HACKED";
  color: #fff;
  cursor: default;
  text-align: center;
  min-width: calc(100% - 600px);
  float: left;
  background-color: #212121;
  opacity: 0.9;
}
#header-profile {
  font-family: monospace;
  opacity: 0.9;
  float:right;
  width:300px;
  min-height: 40px;
  background: #212121;
}

#header-profile:hover{
    background-color: #E53935;
}

#header-content {
  position: fixed;
  margin-top: 50px;
  display: block;
  z-index: 10;
  width: 500px;
  height: 500px;
  border: 2px solid #3EF1B8;
  margin-left: auto ;
  margin-right: auto ;
}

#login {
    padding: 10px 12px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    background-color: #2572a2;
}
